body{
    margin: 0%;
}

/* header*/
h1 {
    text-align: center;
    color: black ;
    padding: 1px;
 }
 /*Navegador*/
 .nav {
     background-color: white;
     display: inline-block;
     width: 100%;
     border-bottom: 1px solid #bbb;
 }
 .navbar {
     display: inline-flex;
     list-style: none;
     padding: 10px;
 }
 .navbar li {
     padding-left: 200px;
     color: black;
 }

/* Tags */

.filter-aside {
  border: 4px inset grey;
  display: inline-block;
  padding: 30px;
}

h4 {
  margin-left: 15px;
}
.filter{
  display: inline-flex;
}

.filter-list{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  margin-left: 15px;
  line-height: 1.5;
  border: 1px groove grey;
 padding: 20px;
 
}

input {
  width: 20px;
  height: 20px;
}
 /* Lista de Personagens*/
.champion-list{
  margin-top: 3rem;
  margin-left: 10rem;
  display: inline-flex;
  flex-flow: row wrap;
  flex-direction: row;
  width: 60vw;
}

.champion{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.champ-name{
  font-size: 0.75rem;
}

.champ-img{
  margin-left: 1rem;
  margin-right: 1rem;
  width: 60px;
  height: 60px;
}